*{
    margin: 0;
    padding: 0;
}
.slide1{
    background-image: url(../../assets/Images/home/banner01.png);
    height: 640px;
    position: relative;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* border: 2px solid blue; */

}
.slide2{
    background-image: url(../../assets/Images/home/banner02.jpg);
    height: 640px;
    position: relative;
    background-size: contain;
    background-position: center;

    background-repeat: no-repeat;
}
.slide3{
    background-image: url(../../assets/Images/home/banner03.jpg);
    height: 640px;
    position: relative;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.slider-section{
    width: 100%;
    height: 100vh;
    position: relative;
}
.slider-section:hover .carousel-control-next-icon {
    color: rgb(41, 25, 25); /* Change to your desired color */
    filter: invert(1); /* Optionally inverts color (useful for white arrows on dark backgrounds) */
  }
  .slider-section:hover .carousel-control-prev-icon {
    color: rgb(41, 25, 25); /* Change to your desired color */
    filter: invert(1); /* Optionally inverts color (useful for white arrows on dark backgrounds) */
  }
    
@media only screen and (max-width:600px) {
    .slide1,.slide2,.slide3{
        height: 70vh
    }
    .slider-section{
        width: 100%;
        height: 80vh;
        position: relative;
    }
}